.form-input {
    display: flex;
    flex-direction: row;
}

.text-area {
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 12px;
    outline: none;
    text-align: start;
    resize: none;
    background-color: transparent;
    color: rgb(65, 62, 62);
}
