/* Loader.css */
.black-bg {
    background-color: #1010;
    /* Utilisez la couleur de fond noir souhaitée avec une opacité (alpha) pour un effet de transparence. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    /* Assurez-vous que le fond noir est affiché au-dessus de tout le contenu. */
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
