.my-message {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 30px;
    margin-right: 6px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 20px;
    float: right;
    color: var(--white);
    background: #f44336;
    align-self: flex-end;
    animation-name: slideFromLeft;
}

.my-message-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    float: right;
    clear: both;
    align-self: flex-end;
}


.other-message {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-left: 6px;
    margin-bottom: 14px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 20px;
    float: left;
    color: var(--black);
    background-color: #e6ecec;
    align-self: flex-end;

}

.other-message-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 30px;
    float: left;
    align-self: flex-start;
    clear: both;
}

.dialog-box {
    position: relative;
    overflow-y: scroll;
    word-wrap: normal;

    flex-direction: column;
}
